src/main/mule/flowprova1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="45bd89cd-5d09-492f-b924-81893b93f7e2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="flowprova1Flow" doc:id="07fd65c1-2d83-497d-849c-0d0c91e37bac" >
		<http:listener doc:name="Listener" doc:id="b662da18-9fc5-42a2-abe1-e6e469a94bc6" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value='#["ciao"]' doc:name="Set Payload" doc:id="29d1fd3b-5c10-4d68-9239-f9908f05ff34" />
	</flow>
</mule>
